 /* extra small */
.island-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.island {
  border-radius: 25px;
  background-color: var(--color-opaque-purple);
  padding: var(--pad-base);
  align-items: center;
}

.auth {
  align-items: normal;
  width: 100%;
}

/* small */
@media (min-width: 576px) {
  .island {
    padding: var(--pad-lg);
  }
}

/* large */
@media (min-width: 992px) {
  .island-wrapper {
    flex-direction: row;
    height: 100%;
  }

  .island {
    display: flex;
    flex-direction: column;
    padding: var(--pad-xl);
    flex: 1 1 auto;
  }

  .auth {
    max-width: 50%;
  }

  .grow {
    flex-grow: 1;
  }
}
